/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.appContainerSkills{
    width: 100%;
    min-height: 469px;
    max-height: 469px;
}




/*MyWork Styles*/

.appContainerMyWork{
    width: 100%;
    min-height: 469px;
    max-height: 469px;
}

.cardContainer{
    display: flex;
   max-height: 470px;
   max-width: 100%;
   overflow-x: auto;
}